{% extends "base.html" %}
{% block content %}
<h2>Order: {{ item.name }}</h2>

<div class="card" style="max-width:600px;margin:auto;">
  <p class="price">Price: ₹{{ item.price }}</p>
  <form method="POST">
    <label>Preferred pickup time</label>
    <input type="time" name="order_time" required>
    <select name="order_ampm" required>
      <option value="AM">AM</option>
      <option value="PM">PM</option>
    </select>
    <button class="btn btn-primary" type="submit" style="margin-top:10px">Place Order</button>
  </form>
</div>
{% endblock %}
